<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1>메인페이지</h1>
    <form th:action="@{/emp/mypage}">
        <div>
            <button type="submit">마이페이지</button>
        </div>
    </form>
    <form th:action="@{/emp/searchIn}">
        <div>
            <button type="submit">성분검색</button>
        </div>
    </form>
    <form th:action="@{/emp/searchEf}">
        <div>
            <button type="submit">효능검색</button>
        </div>
    </form>
    <form th:action="@{/emp/start}">
        <div>
            <button type="submit">로그아웃</button>
        </div>
    </form>
</div>
</body>
</html>