<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 댓글</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<h2>내가 작성한 댓글</h2>
<ul th:each="my : ${myComment}">
    <li  th:text="${my.commentNo + ' / '}"></li>
    <li  th:text="${my.nutrientsName + ' / '}"></li>
    <li  th:text="${my.content}"></li>
</ul>

<form th:action="@{/emp/modComment}">
    <div>
        <button type="submit">수정하기</button>
    </div>
</form>
<form th:action="@{/emp/delComment}">
    <div>
        <button type="submit">삭제하기</button>
    </div>
</form>
<form th:action="@{/emp/main}">
        <button type="submit">돌아가기</button>
    </div>
</form>
</body>
</html>