<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영양제 결과</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<h2>영양제</h2>
<ul th:each="ing : ${ingredients}">
    <li  th:text="${'영양제 : ' + ing.nutrientsName}"></li>
    <li  th:text="${'성분 : ' + ing.ingredientA}"></li>
    <li  th:text="${'성분 : ' + ing.ingredientB}"></li>
    <li  th:text="${'제조사 : ' + ing.company}"></li>
    <li  th:text="${'복용법 : ' + ing.howToTake}"></li>
</ul>
<ul>
    <li th:text="${'효능' + efficacys}"></li>
</ul>
<ul>
    <li th:each="com : ${comments}" th:text="${com}"></li>
</ul>

<form th:action="@{/emp/comment}">
    <div>
        <button type="submit">댓글 쓰기</button>
    </div>
</form>
<form th:action="@{/emp/main}">
        <button type="submit">돌아가기</button>
    </div>
</form>
</body>
</html>