<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>성분 검색창</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1>검색</h1>
    <form th:action="@{/emp/searchIn}" th:object="${searchIn}" method="post">
        <div>
            <label for="data">성분을 입력하세요</label>
            <input type="text" id="data" th:field="*{data}" />
            <label for="number"></label>
            <input type="text" id="number" th:field="*{number}" value="1" style="display: none;" />
        </div>
        <div>
            <button type="submit">검색</button>
        </div>
    </form>
    <form th:action="@{/emp/main}">
        <div>
            <button type="submit">돌아가기</button>
        </div>
    </form>
</div>
</body>
</html>