<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>영양제 검색창</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1>영양제 검색</h1>
    <form th:action="@{/emp/searchNu}" th:object="${searchNu}" method="post">
        <div>
            <label for="data">영양제 이름을 입력하세요</label>
            <input type="text" id="data" th:field="*{data}" />
        </div>
        <div>
            <button type="submit">검색</button>
        </div>
    </form>
    <form th:action="@{/emp/main}">
        <div>
            <button type="submit">돌아가기</button>
        </div>
    </form>
</div>
</body>
</html>