<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>시작화면</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1> 로그인 </h1>
    <form th:action="@{/emp/start}" th:object="${logmembers}" method="post">
        <div>
            <label for="id">아이디</label>
            <input type="text" id="id" th:field="*{id}" />
        </div>
        <div>
            <label for="pw">비밀번호</label>
            <input type="text" id="pw" th:field="*{pw}" />
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
    <form th:action="@{/emp/regist}">
        <div>
            <button type="submit">회원가입</button>
        </div>
    </form>
</div>
</body>
</html>